/backupHistory.json
/*.4BK
/Project/Trash
/DossierWeb
/userPreferences.Bruno LEGAY
/Resources
/Project/DerivedData/CompiledCode
/Settings
/Components
/Documentation/Methods/Méthode*
/Project/Sources/Forms
/Project/Sources/DatabaseMethods
/Project/Sources/Methods/Méthode*
/Project/Sources/Methods/*_xdocInit.4dm
